.row {
    margin-bottom: 0;

}

.text {
    font-weight: 500;
    font-size: 20px;
    padding-left: 11.25px;
    position: relative;
}

.dashboard {
    font-size: 16px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: gray;
}

.dash {
    margin-right: 10px;
    vertical-align: middle;
}

.dashboard:hover {
    background-color: rgb(219, 52, 79);
    color: white;
}
.m2 {
    height: 100%;
}
.menu {
    display: block;
}
.menu1 {
    position: absolute;
    opacity: 0;
}
.text-3 {
    font-size: 25px;
}

.card-content {
    position: relative;
}

.data {
    position: absolute;
    bottom: 40px;
    background-color: green;
    padding: 30px;
    left: 20px;
}

.row-2 {
    background-color: rgb(227, 227, 227);
    box-shadow: -1px -1px 10px black;
}

.row-2>.l3,
.row-2>.l4,
.row-2>.m4,
.row-2>.l6 {
    margin-top: 40px;
}

.warning-text {
    font-size: 20px;
    text-transform: initial;
}

.warn {
    vertical-align: middle;
    margin-right: 10px;
}

.mainicon {
    position: absolute;
    bottom: 40px;
    padding: 23px;
    left: 20px;
    width: 6vw;
    min-width: 70px;
}

.shop {

    background-color: rgb(255, 200, 0);

}

.tag {
    background-color: rgb(80, 24, 171);
}

.paperplane {
    background-color: rgb(155, 40, 124);
}

@media (max-width: 1635px) {
    .graphs {
        width: 300px;
    }
}

@media (max-width: 1270px) {
    .graphs {
        width: 250px;
    }
}

@media (max-width: 1080px) {
    .graphs {
        width: 200px;
    }
}

@media (max-width: 905px) {
    .graphs {
        width: 150px;
    }
}

@media (max-width: 725px) {
    .graphs {
        width: 100px;
    }
}

@media (max-width: 600px) {
    .graphs {
        width: 450px;
    }
}

nav {
    position: relative;
    top: 40px;
    z-index: 1;
    width: 600px;
}

.column {
    position: relative;
    z-index: 0;
}

.lists {
    background-color: rgb(255, 162, 0);
    height: 60px;
    display: flex;
    align-items: center;
    color: white;
    position: absolute;
    z-index: 1;
    max-width: 90%;
    margin-left: 40px;
    top: -20px;
}

.lists li {
    display: inline;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90px;
    text-align: center;
}

.item1 {
    height: 120px;
}

.collection {
    box-shadow: 1px 1px 5px black;
}

.lists .li1:hover {
    background-color: rgb(255, 255, 255, 0.5);
    cursor: grab;

}

@media (max-width: 1257px) {
    .item1 {
        height: 145px;
    }

    .lists {
        margin-left: 25px;
    }
}

@media (max-width: 1103px) {
    .lists li {
        margin-right: 20px;
    }

    .lists {
        margin-left: 15px;
    }
}

@media (max-width: 1018px) {
    .lists li {
        margin-right: 15px;
    }

    .lists {
        margin-left: 10px;
    }
}

@media (max-width: 992px) {
    .lists {
        margin-left: 35px;
        width: 90%;
    }
}

.par {
    font-size: 17px;
}

.p1 {
    position: absolute;
    z-index: 1;
    background-color: rgb(24, 57, 122);
    color: white;
    padding: 15px;
    top: -30px;
    width: 610px;
    margin-left: 40px;

}

.new-div {
    background-color: white;
    margin-top: 9px;
    max-width: 100%;
    height: 346px;
    box-shadow: 1px 1px 5px black;
    position: relative;
    z-index: 0;
}

table {
    width: 610px;
    margin-left: 40px;
}

.td1 {
    padding-top: 100px;
}

tr {
    height: 20px;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    margin-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
}

.page-footer {
    background-color: rgb(227, 227, 227);
    border-top: 1px solid black;
}

.span1 {
    margin-left: 30px;
}

@media (max-width: 800px) {
    .menu {
        display: none;
    }

    .row-2 {
        width: 100% !important;
    }
    .menu1 {
        opacity: 1;
    }
    .menu2 {
        margin-left: 50px;
    }
}

@media (max-width: 1640px) {
    .p1 {
        width: 570px;
    }

    table {
        width: 570px;
    }
}

@media (max-width: 1540px) {
    .p1 {
        width: 530px;
    }

    table {
        width: 530px;
    }
}

@media (max-width: 1440px) {
    .p1 {
        width: 490px;
    }

    table {
        width: 490px;
    }
}

@media (max-width: 1395px) {
    .new-div {
        height: 352px;
    }
}

@media (max-width: 1340px) {
    .p1 {
        width: 460px;
    }

    table {
        width: 460px;
    }
}

@media (max-width: 1312px) {
    .new-div {
        height: 376px;
    }
}

@media (max-width: 1272px) {
    .new-div {
        height: 402px;
    }
}

@media (max-width: 1280px) {
    .p1 {
        width: 430px;
    }

    table {
        width: 430px;
    }
}

@media (max-width: 1257px) {
    .new-div {
        height: 426px;
    }
}

@media (max-width: 1256px) {
    .new-div {
        height: 452px;
    }
}

@media (max-width: 1200px) {
    .p1 {
        width: 400px;
    }

    table {
        width: 400px;
    }
}

@media (max-width: 1130px) {
    .p1 {
        width: 370px;
    }

    table {
        width: 370px;
    }
}

@media (max-width: 1050px) {
    .p1 {
        width: 340px;
    }

    table {
        width: 340px;
    }
}

@media (max-width: 992px) {
    .p1 {
        width: 710px;
    }

    table {
        width: 710px;
    }
}

@media (max-width: 950px) {
    .p1 {
        width: 670px;
    }

    table {
        width: 670px;
    }
}

@media (max-width: 900px) {
    .p1 {
        width: 630px;
    }

    table {
        width: 630px;
    }
}

@media (max-width: 850px) {
    .p1 {
        width: 590px;
    }

    table {
        width: 590px;
    }
}

@media (max-width: 800px) {
    .p1 {
        width: 85vw;
    }

    table {
        width: 85vw;
    }
}
@media (max-width: 540px) {
    .p1 {
        width: 80vw;
    }

    table {
        width: 80vw;
    }
}
@media (max-width: 580px) {
    .lists {
        margin-left: 15px;
    }
}
@media (max-width: 600px) {
    .graphs {
        width: 80vw;
    }
}