.row {
    margin-bottom: 0;

}

.dashboard {
    font-size: 16px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: gray;
}

.dashboard:hover {
    background-color: rgb(219, 52, 79);
    color: white;
}

.dash {
    margin-right: 10px;
    vertical-align: middle;
}

.text {
    font-weight: 500;
    font-size: 20px;
    padding-left: 11.25px;
    position: relative;
}

.menu {
    display: block;
}

.menu1 {
    position: absolute;
    opacity: 0;
}
.input1 {
    margin-top: 80px;
}

@media (max-width: 800px) {
    .menu {
        display: none;
    }

    .row-2 {
        width: 100% !important;
    }

    .menu1 {
        opacity: 1;
    }

    .menu2 {
        margin-left: 50px;
    }
    .column1 {
        margin-left: 50px !important;
    }
    .column2 {
        margin-left: 60px !important;
    }
    .header {
        margin-left: -2px !important;
    }
}


.column1 {
    background-color: white;
    position: relative;
    z-index: 0;
    box-shadow: 1px 1px 10px black;
    margin-top: 20px;
}

.row-2 {
    background-color: rgb(227, 227, 227);
    box-shadow: -1px -1px 10px black;
}

.header {
    position: absolute;
    background-color: rgb(187, 47, 70);
    color: white;
    padding: 15px;
    width: 95%;
    margin-left: 10px;
    margin-top: -20px;
    z-index: 1;
}

.row-2>.l7 {
    margin-top: 20px;
}

.btn {
    background-color: rgb(187, 47, 70);
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 10px;
    margin-top: -15px;
    margin-bottom: 15px;
}

.description {

    background-color: white;

}

.column2 {
    background-color: white;
    margin-left: 30px;
    margin-top: 20px;
    position: relative;
    z-index: 0;
    box-shadow: 1px 1px 10px black;
    order: 1;
}

.img1 img {
    width: 150px;
    margin-top: -70px;

}

@media (max-width: 1070px) {
    .row-2 {
        display: flex;
    flex-direction: column;
    }
    .column1 {
        order: 2;
        width: 78.5vw !important;
        margin-top: 40px;
        margin-left: 15px;
    }
    .column2 {
        width: 76vw !important;
    }
    .foot {
        order: 3;
    }
}
@media (min-width: 1070px) {
    .row-2 {
        height: 100vh;
    }
    .foot {
        margin-top: 200px;
    }
}
.page-footer {
    margin-top: 80px;
    background-color: rgb(227, 227, 227);
    border-top: 1px solid black;
    margin-bottom: 30px;
}

.span1 {
    margin-left: 30px;
}
